body {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(rgba(24, 24, 24, 0.705), rgba(24, 24, 24, 0.705)), url(./pictures/bk.jpg);
    background-size: 100% 100vh;
}

.title {
    font-size: 40px;
    color: white;
    text-shadow: 150px 0px 0px aqua,
    0px 30px 0px blue;
    
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px double rgb(1, 107, 228);
    height: 100px;
    margin-bottom: 20px;
}

.pages {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.pages a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.pages a:hover {
    color: rgb(41, 116, 255);
}

.pages a:hover::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: white;
    animation: sliding infinite 1s;
}

@keyframes sliding {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
        width: 0px;
    }
    60% {
        width: 40px;
    }
    75% {
        transform: translateX(45px);
        width: 0px;
    }
    100% {
        transform: translateX(0);
    }
    
}

.drop-menu {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.incontainer {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    margin: auto;
    backdrop-filter: blur(10px);
}

.incontainer h1 {
    text-align: center;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.container label {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.container input {
    width: 200px;
    font-size: 20px;
}

.container input:focus {
    background: transparent;
    color: white;
    outline: 0;
}

.container button {
    background-color: rgb(42, 153, 243);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 50%;
    transition: 500ms all ease-in-out;
}

.container button:hover {
    background-color: rgb(0, 76, 163);
}

.text-container {
    font-size: 20px;
    height: 100px;
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width: 700px) {
    .title {
        font-size: 15px;
        text-shadow: none;
    }
    .head {
        position: relative;
        height: 50px;
        justify-content: space-between;
    }

    .pages {
        display: none;
        width: 50px;
    }
    .active {
        position: absolute;
        top: 10%;
        right: 10%;
        background: transparent;
        display: flex;
        flex-direction: column;
    }    
    .drop-menu {
        display: block;
        color: white;
        height: 1px;
        font-size: 10px;
        float: right;
        background: linear-gradient(to right, rgba(14, 14, 255, 0.877), rgba(0, 214, 214, 0.849));
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
    .drop-menu:active {
        transform: scale(1.5);
    }
    .drop-menu::after {
        content: '';
        transform: translateY(-50px);
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        background: linear-gradient(to right, rgba(14, 14, 255, 0.877), rgba(0, 214, 214, 0.849));
    }

    .drop-menu::before {
        content: '';
        transform: translateY(-20px);
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        background: linear-gradient(to right, rgba(14, 14, 255, 0.877), rgba(0, 214, 214, 0.849));
    }
    .incontainer {
        width: 80%;
        backdrop-filter: none;
    }
}