body {
    padding: 0px;
    margin: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(to right,rgb(241, 205, 0), rgb(180, 153, 0));
    padding: 10px;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.head ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

nav {
    width: 50%;
}
li {
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.head a:hover {
    color: black;
    text-decoration: underline;
    
}

.container {
    display: flex;
    justify-content:center;
    background-image: url(./pictures/headerbk.jpg);
    height: 100%;
}

.incontainer {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    margin-top: 30px;
    width: 400px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.container label {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 200px;
    font-weight: 400px;
}

input, textarea {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    color: blueviolet;
}

textarea {
    height: 100px;
    width: 250px;
}

button {
    background: linear-gradient(to right,rgb(241, 205, 0), rgb(180, 153, 0));
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid gold;
    margin: 5px;
}

button:hover {
    background-color: goldenrod;
    box-shadow: 0px 1px 5px 0px white;
    transform: scale(1.2);
}

button:active {
    transform: scale(1.5);
}

::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(rgb(241, 205, 0), rgb(180, 153, 0));
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    
}

.drop-menu {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: none;
    margin: 5px;
    display: none;
}

.drop-menu:hover {
    box-shadow: 0px 1px 5px 0px aquamarine;
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    .incontainer {
        border: none;
        border-radius: 10px;
        padding: 5px;
        backdrop-filter: none;
        margin-top: 30px;
        width: 58%;
    }
    .active {
        display: block;
    }
    nav {
        display: none;
      }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        width: 50%;
    }
    .drop-menu {
        display: block;
        height: 50%;
    }
    nav ul li {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
    nav ul a {
        color: #333;
        text-decoration: none;
      }
      nav ul a:hover {
        background-color: #f2f2f2;
      }
      .active {
        display: block;
    }
}
