body {
    padding: 0px;
    margin: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(to right, aqua, purple, pink);
    padding: 10px;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid purple;
}

.head ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

nav {
    width: 50%;
}
li {
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content:center;
    background-image: url(./pictures/headerbk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.incontainer {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    margin-top: 30px;
    width: 400px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.container label {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 200px;
    font-weight: 400px;
}

input, textarea {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    color: blueviolet;
}

textarea {
    height: 100px;
    width: 250px;
}

button {
    background-color: rgb(31, 141, 204);
    width: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient( aqua, purple, pink);
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    
}
