body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.60), rgba(12, 69, 255, 0.548)), url(./pictures/ninja-laptop.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.newtext {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
