body {
    padding: 0px;
    margin: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(to right, aqua, purple, pink);
    padding: 10px;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid purple;
}

.head ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

nav {
    width: 50%;
}

li {
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.projects {
    background-image: url('./pictures/p-bk.jpg');
    background-size:auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
 }

 .deck {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 0px;
    list-style: none;
 }

 .card {
    width: 90%;
    background: linear-gradient(65deg, hsl(251, 100%, 22%), hsla(246, 85%, 38%, 0.822), rgb(75, 58, 228));
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: #ccc;
 }

 .card:hover {
    transform: scale(1.1);
 }

button {
    background: linear-gradient(to right, aqua, purple, pink);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: none;
    margin: 5px;
}

button:hover {
    background: linear-gradient(to right, purple, pink, aqua);
    box-shadow: 0px 1px 5px 0px aquamarine;
}
.drop-menu {
    display: none;
}
@media (max-width: 700px) {
    .deck {
        display: grid;
        grid-template-columns: auto auto;
    }
    .title {
        font-size: 2rem;
        animation: chcolo 5s infinite;
    }
    @keyframes chcolo {
        0% {
            color: white;
        }
        50% {
            color: pink;
            transform: scale(0.9);
        }
        100% {
            color: white;
        }
    }
    nav {
        display: none;
      }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        width: 50%;
    }
    .drop-menu {
        display: block;
        height: 50%;
    }

    nav ul li {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
    nav ul a {
        color: #333;
        text-decoration: none;
      }
      nav ul a:hover {
        background-color: #f2f2f2;
      }
      .active {
        display: block;
    }
}
